{% extends 'template.html' %} {% block content %}
<!-- View cart -->
<!-- a)	Show all the chosen items and their total price
b)	Allow the customer to delete an item (or all items) from the shopping basket -->
<div class="cart-view">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title">Shopping Cart</h1>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Subtotal</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Print the cart -->
                        {% if cart|length == 0 %}
                        <tr>
                            <td colspan="5">Your cart is empty</td>
                        </tr>
                        <!-- Else loop and show cart items -->
                        {% else %}
                        <!-- {% print cart %} -->
                        {% for key, item in cart.items() %}
                        <tr>
                            <td>{{ item[2] }}</td>
                            <td>{{ item[5] }}</td>
                            <td>{{ item[0] }}</td>
                            <td>{{ item[5] * item[0] }}</td>
                            <td>
                                <button data-id="{{item[1]}}"
                                    class="btn btn-danger remove_item_from_cart">Remove</button>
                            </td>
                        </tr>
                        {% endfor %}


                        {% endif %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3"></td>
                            <td><strong>Total</strong></td>
                            <td><strong>{{ total }}</strong></td>
                        </tr>
                    </tfoot>
                </table>
                <a href="{{url_for('checkout')}}" class="btn btn-primary cta">Checkout</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}