{% extends 'template.html' %} {% block content %}


<!-- Products listing-->
<!-- Image, name, price, environmental impact-->
<div class="products view_product" id="products">
    <div class="container">
        <h2 class="title">Products results for: '{{search_term}}'</h2>
        <div class="product-list">
            {% if products|length == 0 %}
            <h3>No products found</h3>
            {% endif %}

            {% for product in products %}
            <div class="product-item">
                <div class="product-img">
                    <a href="/view_product/{{ product[0] }}">
                        <img src="{{ url_for('static', filename='images/products/' + product[3]) }}"
                            alt="{{ product[1] }}">
                    </a>
                </div>
                <div class="product-info">
                    <h3><a href="/view_product/{{ product[0] }}"> {{ product[1]}}</a></h3>
                    <p class="price">Price: ${{ product[4]}}</p>
                    <p>Environmental Impact: {{ product[6]}}</p>
                    <a href="#" data-product_id="{{ product[0] }}" class="cta btn add_to_cart">Add to
                        Cart</a>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
    {% endblock %}